.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
scripts/**
assets/banner.png
assets/demo.gif
.gitignore
.yarnrc
CLAUDE.md
esbuild.js
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
